@import url(_variaveis.css);

body{
  background-color: var(--colorBackground);
  font-family: var(--fonte);
  color: var(--neutral);
  margin: 2rem;
}

/*Header*/
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo{
  display: flex;
  align-items: center;   
  width: 12rem;
 
}


.busque{
  background-color:rgba(255, 255, 255, 0.16);
  width: 100%;
  display: block;
  height: 3rem;
  
  border-radius: 8px;
  border: none;
  box-sizing: border-box;

}

.busque::placeholder{
  font-size: 16px;
  font-style: normal;
  padding-left: 14px;
  padding-top: 16px;
  color: rgba(255, 255, 255, 0.64);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.perfil{
  display: flex;
  justify-content: flex-end;
  width: 18%;
 
}

.fontePerfil{
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.fotoPerfil, .fontePerfil, .busque{
  display: none;
}

#menu-icon{
  display: flex;
  align-items: center;
  width: 3.5rem;
  margin-right: 10%;
}



@media screen and (min-width: 768px) {
.busque{
  width: 55%;
  display: block;
  margin-left: 20px;
}
.fotoPerfil, .fontePerfil{
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

}
@media screen and (min-width: 1025px) {

  .fotoPerfil, .fontePerfil{
    display: block;
  }

  header .perfil {
    display: flex;
    align-items: center;
    width: 5%;
    margin-right: 10%;
}

  input{
    width: 100%;
  }

  #menu-icon {
    display: none;
}

}